body {
    background-color: rgb(251, 251, 251);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#sync {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 7px;
    position: absolute;
    top: 5px;
    right: 3%;
    background-color: rgb(252, 252, 252);
    align-items: center;
    z-index: 7;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sync:hover {
    border: 1px solid rgba(0, 137, 234, 0.191);
}

#syncImg {
    position: absolute;
    height: 32px;
    margin: 3px;
    right: 0px;
    transition: 0.8s;
}

#syncClose {
    position: absolute;
    height: 32px;
    margin: 4px;
    padding: 4px;
    left: 0px;
    transition: 0.4s;
}

#syncClose:hover {
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 10px;
}

#syncBtnContenair {
    margin-top: 40px;
    width: 100%;
}

.syncBtn {
    height: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.syncBtnT {
    color: #555555;
    text-align: center;
    cursor: pointer;
}

.syncBtnT:hover {
    color: rgb(0, 138, 234);
    background-color: rgba(0, 0, 0, 0.041);
    padding: 5px;
}

#syncBtnTAthlete:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#syncBtnTActivities:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.syncLineHorizontal {
    width: 80%;
    height: 1.3px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(179, 179, 179);
}

#activitieMapLinkDiv {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#activitieMapLink {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(168, 168, 168);
    outline: none;
    text-decoration: none;
    color: rgb(109, 109, 109);
    text-align: center;
    letter-spacing: 1.5px;
    margin-left: 10%;
    margin-right: 10%;
}

#activite {
    margin-top: 20px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#tableHeader {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(158, 158, 158);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.activities {
    border-bottom: 1px solid rgb(158, 158, 158);
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.activitiesT {
    color: #9900ff;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    cursor: pointer;
}

.activitiesD {
    color: #555555;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.activitiesTps {
    color: #555555;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.activitiesDst {
    color: #555555;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

#activitiesT {
    color: #555555;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

#activitiesD {
    color: #555555;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

#activitiesTps {
    color: #555555;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

#activitiesDst {
    color: #555555;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

@media only screen and (max-width: 430px) {
    #activitieMapLink {
        font-size: 10px;
    }

    .activitiesT {
        font-size: 8.5px;
    }

    .activitiesD {
        font-size: 8.5px;
    }

    .activitiesTps {
        font-size: 8.5px;
    }

    .activitiesDst {
        font-size: 8.5px;
    }

    #activitiesD {
        font-size: 8.5px;
    }

    #activitiesT {
        font-size: 8.5px;
    }

    #activitiesTps {
        font-size: 8.5px;
    }

    #activitiesDst {
        font-size: 8.5px;
    }
}

@media only screen and (min-width: 430px) {
    #activitieMapLink {
        font-size: 13px;
    }

    .activitiesT {
        font-size: 10px;
    }

    .activitiesD {
        font-size: 10px;
    }

    .activitiesTps {
        font-size: 10px;
    }

    .activitiesDst {
        font-size: 10px;
    }

    #activitiesD {
        font-size: 10px;
    }

    #activitiesT {
        font-size: 10px;
    }

    #activitiesTps {
        font-size: 10px;
    }

    #activitiesDst {
        font-size: 10px;
    }
}

@media only screen and (min-width: 600px) {
    #activitieMapLink {
        font-size: 16px;
    }

    .activitiesT {
        font-size: 12px;
    }

    .activitiesD {
        font-size: 12px;
    }

    .activitiesTps {
        font-size: 12px;
    }

    .activitiesDst {
        font-size: 12px;
    }

    #activitiesD {
        font-size: 12px;
    }

    #activitiesT {
        font-size: 12px;
    }

    #activitiesTps {
        font-size: 12px;
    }

    #activitiesDst {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    #activitieMapLink {
        font-size: 18px;
    }

    .activitiesT {
        font-size: 14px;
    }

    .activitiesD {
        font-size: 14px;
    }

    .activitiesTps {
        font-size: 14px;
    }

    .activitiesDst {
        font-size: 14px;
    }

    #activitiesD {
        font-size: 14px;
    }

    #activitiesT {
        font-size: 14px;
    }

    #activitiesTps {
        font-size: 14px;
    }

    #activitiesDst {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    #activitieMapLink {
        font-size: 20px;
    }

    .activitiesT {
        font-size: 15px;
    }

    .activitiesD {
        font-size: 15px;
    }

    .activitiesTps {
        font-size: 15px;
    }

    .activitiesDst {
        font-size: 15px;
    }

    #activitiesD {
        font-size: 16px;
    }

    #activitiesT {
        font-size: 16px;
    }

    #activitiesTps {
        font-size: 16px;
    }

    #activitiesDst {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    #activitieMapLink {
        font-size: 22px;
    }

    .activitiesT {
        font-size: 16px;
    }

    .activitiesD {
        font-size: 16px;
    }

    .activitiesTps {
        font-size: 16px;
    }

    .activitiesDst {
        font-size: 16px;
    }

    #activitiesD {
        font-size: 16px;
    }

    #activitiesT {
        font-size: 16px;
    }

    #activitiesTps {
        font-size: 16px;
    }

    #activitiesDst {
        font-size: 16px;
    }
}