#header {
    width: 100%;
    height: 50px;
    background-color: rgb(230, 230, 230);
}

#open {
    color: rgb(31, 31, 31);
    font-size: 33px;
    height: 50px;
    padding-left: 10px;
    width: 40px;
    transition: 0.4s;
}

#open:hover {
    background-color: rgb(189, 189, 189);
}

#titre {
    position: relative;
    margin-top: -70px;
    text-align: center;
    width: 366px;
    left: 500px;
}

#mev {
    color: rgb(141, 58, 58);
    font-size: 25px;
    display: inline-block;
}

#support {
    color: rgb(77, 77, 77);
    display: inline-block;
    font-size: 25px;
}

body {
    background-color: rgb(251, 251, 251);
}

#paysage {
    width: 100%;
}

#search[type=text] {
    position: absolute;
    top: 150px;
    left: 233px;
    width: 900px;
    height: 60px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.808);
    background-image: url('../img/searchicon.png');
    background-position: 15px 15px; 
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-transition: width 0.4s ease-in-out;
    transition:  0.2s;
    outline:none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664);
}

#search[type=text]:hover {
    background-color: rgb(255, 255, 255);
}

#search[type=text]:focus {
    background-color: rgb(255, 255, 255);
}

#clearSearch {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 150px;
    left: 1073px;
    background-image: url('../img/closeIcon.png');
    background-position: 15px 15px; 
    background-size: 30px;
    background-repeat: no-repeat;
    outline: none;
}

#clearSearch:hover {
    background-color: rgba(231, 231, 231, 0.486);
}

#suggestionBox {
    width: 900px;
    height: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 210px;
    left: 233px;
    transition: 0.2s;
}

.suggestionCase {
    width: 860px;
    height: 35px;
    border-top: 0.5px solid rgba(42, 42, 42, 0.335);
    margin-left: 20px;
    transition: 0.4s;
    color: rgb(72, 3, 151);
}

.suggestionCaseA {
    margin: 0px;
    font-size: 20px;
    outline: none;
    text-decoration: none;
}

.suggestionCaseA:hover {
    border-bottom: 1px solid;     
}
  
.suggestionCaseA:active {
    color: rgb(105, 0, 88);
}

#article {
    width: 100%;
    height: auto;
    min-height: 100px;
}

.documentationCase {
    width: 30%;
    height: 120px;
    margin-left: 4%;
    margin-right: -3.5%;
    margin-top: 10px;
    border-radius: "2px";
    color: rgb(0, 0, 0);
    display: inline-block;
}

.documentationCaseA {
    margin: 0px;
    font-size: 25px;
    outline: none;
    text-decoration: none;
}
  
.documentationCaseA:hover {
    border-bottom: 1px solid;     
}
  
.documentationCaseA:active {
    color: rgb(105, 0, 88);
}

.documentationCaseDescription {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(49, 49, 49);
}
