#header {
    width: 100%;
    height: 50px;
    background-color: rgb(230, 230, 230);
}

#open {
    color: rgb(31, 31, 31);
    font-size: 33px;
    height: 50px;
    padding-left: 10px;
    width: 50px;
    transition: 0.4s;
}

#open:hover {
    background-color: rgb(189, 189, 189);
}

#titre {
    position: relative;
    margin-top: -70px;
    text-align: center;
    width: 60%;
    left: 20%;
}

@media only screen and (max-width: 600px) {
    #mev {
        font-size: 17px;
    }

    #support {
        font-size: 17px;
    }

    #titre {
        margin-top: -58px;
    }
}

@media only screen and (min-width: 600px) {
    #mev {
        font-size: 20px;
    }

    #support {
        font-size: 20px;
    }

    #titre {
        margin-top: -65px;
    }
}

@media only screen and (min-width: 768px) {
    #mev {
        font-size: 25px;
    }

    #support {
        font-size: 25px;
    }

    #titre {
        margin-top: -70px;
    }
}

@media only screen and (min-width: 992px) {
    #mev {
        font-size: 25px;
    }

    #support {
        font-size: 25px;
    }

    #titre {
        margin-top: -70px;
    }
}

@media only screen and (min-width: 1200px) {
    #mev {
        font-size: 25px;
    }

    #support {
        font-size: 25px;
    }

    #titre {
        margin-top: -70px;
    }
}

#mev {
    color: rgb(141, 58, 58);
    display: inline-block;
}

#support {
    color: rgb(77, 77, 77);
    display: inline-block;
}

body {
    background-color: rgb(251, 251, 251);
}

#paysage {
    width: 100%;
}

#search[type=text] {
    position: absolute;
    left: 12%;
    width: 68%;
    height: 60px;
    box-sizing: border-box;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    background-color: rgba(255, 255, 255);
    background-image: url('../img/searchicon.png');
    background-position: 15px 15px; 
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-transition: width 0.4s ease-in-out;
    transition:  0.2s;
    outline:none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.664);
}

#search[type=text]:hover {
    background-color: rgb(255, 255, 255);
}

#search[type=text]:focus {
    background-color: rgb(255, 255, 255);
}

#clearSearch {
    border: none;
    background-color: rgb(255, 255, 255);
    width: 4.5%;
    height: 60px;
    position: absolute;
    left: 80%;
    background-image: url('../img/closeIcon.png');
    background-position: 45% 50%; 
    background-size: 60%;
    background-repeat: no-repeat;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
    transition: 0.2s;
}

#clearSearch:hover {
    background-color: rgb(238, 238, 238);
    border-top-right-radius: 10px;
}

#suggestionBox {
    width: 72.5%;
    height: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 12%;
    transition: 0.2s;
}

.suggestionCase {
    width: 62.95755%;
    height: 35px;
    border-top: 0.5px solid rgba(42, 42, 42, 0.335);
    margin-left: 20px;
    transition: 0.4s;
    color: rgb(72, 3, 151);
}

.suggestionCaseA {
    margin: 0px;
    font-size: 20px;
    outline: none;
    text-decoration: none;
}

.suggestionCaseA:hover {
    border-bottom: 1px solid;     
}
  
.suggestionCaseA:active {
    color: rgb(105, 0, 88);
}

#article {
    width: 100%;
    height: auto;
    min-height: 100px;
}

.documentationCase {
    color: rgb(0, 0, 0);
}

.documentationCaseA {
    margin: 0px;
    outline: none;
    text-decoration: none;
}
  
.documentationCaseA:hover {
    border-bottom: 1px solid;     
}
  
.documentationCaseA:active {
    color: rgb(105, 0, 88);
}

.documentationCaseDescription {
    margin-top: 5px;
    margin-left: 10px;
    color: rgb(49, 49, 49);
}

@media only screen and (max-width: 600px) {
    #seanceDuJour {
        top: 260px;
    }

    #aideArticle {
        margin-top: -30px;
    }

    .documentationCase {
        width: 90%;
        height: 120px;
        margin-left: 5%;
        margin-top: 10px;
        display: block;
    }

    .documentationCaseA {
        font-size: 25px;
    }

    .documentationCaseDescription {
        font-size: 13px;
    }

    #search[type=text] {
        top: 60px;
    }
    
    #clearSearch {
        top: 60px;
    }
    
    #suggestionBox {
        top: 120px;
    }
}

@media only screen and (min-width: 600px) {
    #seanceDuJour {
        top: 320px;
    }

    #aideArticle {
        margin-top: 20px;
    }

    .documentationCase {
        width: 90%;
        height: 120px;
        margin-left: 5%;
        margin-top: 10px;
        display: block;
    }

    .documentationCaseA {
        font-size: 23px;
    }

    .documentationCaseDescription {
        font-size: 13px;
    }

    #search[type=text] {
        top: 80px;
    }
    
    #clearSearch {
        top: 80px;
    }
    
    #suggestionBox {
        top: 140px;
    }
}

@media only screen and (min-width: 768px) {
    #seanceDuJour {
        top: 398px;
    }

    #aideArticle {
        margin-top: 30px;
    }

    .documentationCase {
        width: 47%;
        height: 120px;
        margin-left: 1.5%;
        display: inline-block;
    }

    .documentationCaseA {
        font-size: 24px;
    }

    .documentationCaseDescription {
        font-size: 14px;
    }

    #search[type=text] {
        top: 100px;
    }
    
    #clearSearch {
        top: 100px;
    }
    
    #suggestionBox {
        top: 160px;
    }
}

@media only screen and (min-width: 992px) {
    #seanceDuJour {
        top: 475px;
    }

    #aideArticle {
        margin-top: 90px;
    }

    .documentationCase {
        width: 45%;
        height: 120px;
        margin-left: 2.5%;
        display: inline-block;
    }

    .documentationCaseA {
        font-size: 25px;
    }

    .documentationCaseDescription {
        font-size: 15px;
    }

    #search[type=text] {
        top: 135px;
    }
    
    #clearSearch {
        top: 135px;
    }
    
    #suggestionBox {
        top: 195px;
    }
}

@media only screen and (min-width: 1200px) {
    #seanceDuJour {
        top: 550px;
    }

    #aideArticle {
        margin-top: 120px;
    }

    .documentationCase {
        width: 30%;
        height: 120px;
        margin-left: 4%;
        margin-right: -3.5%;
        display: inline-block;
    }

    .documentationCaseA {
        font-size: 25px;
    }

    .documentationCaseDescription {
        font-size: 15px;
    }

    #search[type=text] {
        top: 150px;
    }
    
    #clearSearch {
        top: 150px;
    }
    
    #suggestionBox {
        top: 210px;
    }
}
