::-webkit-scrollbar {
    width: 16px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
} 

::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 3px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #444444; 
}

#AthleteSettings {
    background-color: rgb(65, 65, 65);
    border-radius: 5px;
    margin-top: 10px;
    width: 70%;
    margin-left: 9%;
}

table {
    background-color: rgb(65, 65, 65);
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

th, td {
    border-bottom: 1px solid rgb(165, 165, 165);
    border-left: 1px solid rgb(165, 165, 165);
    text-align: center;
    height: 30px;
}

#settingEdit {
    border: none;
    padding: 0px;
    width: 50px;
    height: 50px;
    transition-duration: 0.4s;
}

#settingEdit:hover {
    background-color: rgb(126, 126, 126);
    font-size: 17px;
    border-radius: 100%;
}

#alert {
    position: absolute;
    background-color: rgb(73, 73, 73);
    margin-top: 70px;
    height: 500px;
    z-index: 7;
    border-radius: 3px;
    box-shadow: 1px 1px 25px #000000;
    overflow-y: scroll;
}


#filter {
    position: fixed;
    margin-left: -8px;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 7;
    width: 102%;
    height: 100%;
}

.alertBtn {
    color: rgb(189, 189, 189);
    border: 1px solid #555555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.4s;
    background-color: rgb(65, 65, 65);
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 3px;
    min-width: 26.67%;
    outline: none;
}
.alertBtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
    border-radius: 15px;
    box-shadow: 1px 1px 5px #000000;
}

#sauvegarder {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15.334%;
}

#retour {
    display: inline-block;
    margin-left: 13.334%;
}

.settingInput {
    background-color: rgb(65, 65, 65);
    margin-top: -5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    border-style: none;
    border-bottom: rgb(179, 179, 179) 1px solid;
    outline:none;
    transition: 0.4s;
    width: 40%;
    color: rgb(179, 179, 179);
    font-size: 18px;
}

.settingInput:focus{
    border-bottom: rgb(255, 255, 255) 1px solid;;
}

.settingInputTitle {
    color: rgb(179, 179, 179);
    text-align: center;
}

.settingInputP {
    text-align: center;
    font-size: 17.5px;
    margin-top: -25px;
}

.help {
    font-size: 16px;
    background-color: white;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    color: rgb(54, 54, 54);
    text-align: center;
}

.settingInputLink {
    position: absolute;
    margin-top: -50px;
    margin-left: 80%;
}

.settingInputDiv {
    background-color: rgb(65, 65, 65); 
    border-radius: 3px;
    width: 93.334%;
    margin-left: 3.334%;
    margin-right: 3.334%;
    height: 180px;
    box-shadow: 1px 1px 5px #000000;
    margin-top: -10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    th, td {
        font-size: 13px;
    }

    #alert {
        width: 70%;
        margin-left: 15%;
    }

    #sauvegarder {
        font-size: 12px;
    }
    
    #retour {
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    th, td {
        font-size: 14px;
    }

    #alert {
        width: 60%;
        margin-left: 20%;
    }

    #sauvegarder {
        font-size: 12px;
    }
    
    #retour {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    th, td {
        font-size: 15px;
    }

    #alert {
        width: 50%;
        margin-left: 25%;
    }

    #sauvegarder {
        font-size: 16px;
    }
    
    #retour {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    th, td {
        font-size: 16px;
    }

    #alert {
        width: 45%;
        margin-left: 27.5%;
    }

    #sauvegarder {
        font-size: 19px;
    }
    
    #retour {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1200px) {
    th, td {
        font-size: 17px;
    }

    #alert {
        width: 43.924%;
        margin-left: 29.2826%;
    }

    #sauvegarder {
        font-size: 22px;
    }
    
    #retour {
        font-size: 22px;
    }
}