#header {
    height: 50px;
    background-color: #2E2E2E;
    margin-top: -42px;
    margin-right: -8px;
    margin-left: 122px;
    font-family: "Segoe UI";
    color: #E3E3E3;
    
}

.titrePage{
    font-size: 20px;
    padding: 10px;
}