.sidenav {
    height: 100%; 
    width: 130px; 
    position: fixed;  
    top: 0; 
    left: 0;
    background-color: #212121; 
    padding-top: 20px; 
    border-right: 1px solid #A9A9A9;
    z-index: 7;
}
    
.sidenav .a_accueil {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 13.8px;
    display: block;
    letter-spacing: 0.5px;
    color: #E3E3E3;
    
    }
.sidenav .a_programme {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 13.8px;
    display: block;
    letter-spacing: 0.5px;
    color: #E3E3E3;
    
    }
#prgmy{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    letter-spacing: 0.5px;
    color: #E3E3E3;
    background-color: #2F2F2F;
    
}
#prgmy:hover{
    background-color: #393939;
}
#prgchc{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    letter-spacing: 0.5px;
    color: #E3E3E3;
    background-color: #2F2F2F;
    
}
#prgchc:hover{
    background-color: #393939;
}

.sidenav .a_parametre {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 13.8px;
    display: block;
    letter-spacing: 0.5px;
    color: #E3E3E3;
}

.sidenav .a_strava {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 13.8px;
    display: block;
    letter-spacing: 0.5px;
    color: #E3E3E3;
    
    }

.sidenav a:hover {
    background-color: #2B2B2B;
    
}

#arrowDownPrg {
    position: absolute;
    left: 123px;
    top: 54px;
}

#arrowDownPrg::after {
    content: '\276F';
    position: absolute;
    right: 0;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 15px;
    color: rgb(138, 138, 138);
}