.aprgDiv{
    width: 23.8653%;
    margin-left: 7px;
    margin-top: 7px;
    display: inline-block;
    border: 1px solid rgb(37, 37, 37);
    height: 124px;
}

.Img{
    width: 100%;
}

.tprg{
    position: relative;
    font-family: "Segoe UI";
    color: #E3E3E3;
    text-align: center;
    height: 30px;
    margin-bottom: 0px;
    background-color: #393939;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .aprgDiv{
        width: 20.5%;
        height: 107px;
    }

    .Img {
        height: 60px;
    }

    .tprg {
        font-size: 11px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 600px) {
    .aprgDiv{
        width: 23%;
        height: 127px;
    }
    
    .Img {
        height: 95px;
    }

    .tprg {
        font-size: 12px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .aprgDiv{
        width: 23.5%;
        height: 157px;
    }
    
    .Img {
        height: 125px;
    }

    .tprg {
        font-size: 14px;
        padding-top: 3px;
    }
}

@media only screen and (min-width: 992px) {
    .aprgDiv{
        width: 23.8653%;
        height: 202px;
    }
    
    .Img {
        height: 170px;
    }

    .tprg {
        font-size: 18px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .aprgDiv{
        width: 23.8653%;
        height: 232px;
    }
    
    .Img {
        height: 200px;
    }

    .tprg {
        font-size: 20px;
        padding-top: 0px;
    }
}