.btn {
    text-decoration: none;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
}

#choisirPrg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
    border-radius: 5px;
    margin-top: 7px;
}

#choisirPrgCase {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aprgDiv{
    width: 100%;
    display: inline-block;
    border: 1px solid rgb(37, 37, 37);
    height: 124px;
}

.Img{
    width: 100%;
}

.tprg{
    position: relative;
    font-family: "Segoe UI";
    color: #E3E3E3;
    text-align: center;
    height: 30px;
    margin-bottom: 0px;
    background-color: #393939;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .aprgDiv{
        height: 92px;
    }

    .Img {
        height: 60px;
    }

    .tprg {
        font-size: 11px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 600px) {
    .aprgDiv{
        height: 127px;
    }
    
    .Img {
        height: 95px;
    }

    .tprg {
        font-size: 12px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .aprgDiv{
        height: 157px;
    }
    
    .Img {
        height: 125px;
    }

    .tprg {
        font-size: 14px;
        padding-top: 3px;
    }
}

@media only screen and (min-width: 992px) {
    .aprgDiv{
        height: 202px;
    }
    
    .Img {
        height: 170px;
    }

    .tprg {
        font-size: 18px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .aprgDiv{
        height: 232px;
    }
    
    .Img {
        height: 200px;
    }

    .tprg {
        font-size: 20px;
        padding-top: 0px;
    }
}