.aprgDiv{
    width: 330px;
    height: 277px;
    background-color: #393939;
    border-radius: 5px;
    margin: 20px;
    border: solid 2px #2E2E2E;
    display: inline-block;
}

.Img{
    width: 100%;
    border-radius: 5px;
    height: 200px;
 
}

.tprg{
    font-family: "Segoe UI";
    color: #E3E3E3;
    font-size: 19px;
    text-align: center;
    height: 50px;
    
}