#left{
    display: inline-block;
    width: 600px;
    margin-top: 0px;
    margin-left: 0px;
}

#right{
    background-color:  rgb(71, 71, 71);
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 440px;
    margin-left: 30px;
    margin-top: 7px;
    border-radius: 20px;
}

.objectif_div{
    display: block;
    margin-bottom: 20px;
}

.objectif1{
    display: inline-block;
    margin-right: 10px;
    width: 23%;
}

.objectifP{
    padding: 0px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#prgJJ{
    width: 325px;
}

#description {
    top: 81.5px;
    left: 780.8px;
    position: absolute;
    display: inline-block;
    width: 547px;
    background-color: rgb(71, 71, 71);
    border-radius: 6px;
    height: 250px
}
#h1Description {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 25px;
}
#pDescription {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#iV{
    display: inline-block;
    width: 545.3px;
    background-color: rgb(71, 71, 71);
    margin-top: -25px;
    margin-left: 622px;
    border-radius: 6px;
    height: 310px;
}

