#left{
    display: inline-block;
    width: 600px;
    margin-top: 0px;
    margin-left: 0px;
}

#right{
    display: inline-table;
    width: 40%;
    margin-top: -100px;
    margin-left: 50px;
}

.objectif_div{
    display: block;
    margin-bottom: 20px;
}

.objectif1{
    display: inline-block;
    margin-right: 10px;
    width: 23%;
}

.objectifP{
    padding: 0px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#prgJJ{
    width: 325px;
}

#exo{
    margin-top: 40px;
}
.exo{
    background-color: #323232;
    height: 100px;
    margin-top: 15px;
    border-radius: 10px;
}
.exoT{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;  
}
.exoP{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
}
.exoS{
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 5px;
}

#description {
    top: 81.5px;
    left: 780.8px;
    position: absolute;
    display: inline-block;
    width: 547px;
    background-color: rgb(71, 71, 71);
    border-radius: 6px;
    height: 250px
}
#h1Description {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 25px;
}
#pDescription {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#iV{
    display: inline-block;
    width: 545.3px;
    background-color: rgb(71, 71, 71);
    margin-top: -25px;
    margin-left: 622px;
    border-radius: 6px;
    height: 310px;
}

