#left{
    display: inline-block;
    width: 50.9517%;
    height: 333px;
    margin-top: 7px;
    margin-left: 7px;
}

.objectif_div{
    display: block;
    margin-bottom: 20px;
}

.objectif1{
    display: inline-block;
    margin-right: 10px;
    width: 23%;
}

.objectifP{
    padding: 0px;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#prgJJ{
    width: 325px;
}

#description {
    position: absolute;
    display: inline-block;
    background-color: rgb(71, 71, 71);
    border-radius: 6px;
    height: 243px
}

#h1Description {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 25px;
}
#pDescription {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#iV{
    position: absolute;
    display: inline-block;
    background-color: rgb(71, 71, 71);
    top: 307px;
    border-radius: 6px;
}

#prgStats {
    position: absolute;
    top: 397px;
    background-color: rgb(71, 71, 71);
    padding-bottom: 50px;
    height: 240px;
    border-radius: 6px;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    #iV{
        width: 0%;
        height: 0px;
        left: 0%;
    }

    #prgStats {
        width: 90%;
        left: 5%;
        top: 397px;
    }

    #left{
        width: 90%;
        height: 333px;
        margin-left: 5%;
    }

    #description {
        top: 645px;
        left: 5%;
        width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    #iV{
        width: 0%;
        height: 0px;
        left: 0%;
    }

    #prgStats {
        width: 90%;
        left: 5%;
        top: 397px;
    }

    #left{
        width: 90%;
        height: 333px;
        margin-left: 5%;
    }

    #description {
        top: 645px;
        left: 5%;
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    #iV{
        width: 47.5842%;
        height: 240px;
        left: 51.97657%;
    }

    #prgStats {
        width: 50.9517%;
        left: 0.5124451%;
        top: 397px;
    }

    #left{
        width: 50.9517%;
        height: 333px;
        margin-left: 7px;
    }

    #description {
        top: 57px;
        left: 51.9766%;
        width: 47.5842%;
    }
}

@media only screen and (min-width: 992px) {
    #iV{
        width: 47.5842%;
        height: 280px;
        left: 51.97657%;
    }

    #prgStats {
        width: 50.9517%;
        left: 0.5124451%;
        top: 397px;
    }

    #left{
        width: 50.9517%;
        height: 333px;
        margin-left: 7px;
    }

    #description {
        top: 57px;
        left: 51.9766%;
        width: 47.5842%;
    }
}

@media only screen and (min-width: 1200px) {
    #iV{
        width: 47.5842%;
        height: 330px;
        left: 51.97657%;
    }

    #prgStats {
        width: 50.9517%;
        left: 0.5124451%;
        top: 397px;
    }

    #left{
        width: 50.9517%;
        height: 333px;
        margin-left: 7px;
    }

    #description {
        top: 57px;
        left: 51.9766%;
        width: 47.5842%;
    }
}