body {
    background-color: rgb(251, 251, 251);
}

#resumeDeSeance {
    position: absolute;
    width: 90%;
    height: auto;
    left: 5%;
    top: 57px;
    border: 1px solid rgb(155, 155, 155);
}

#mapid {
    width: 100%;
    z-index: 5;
}

.firstRow {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.firstCase {
    width: 33.33%;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumeSeanceIcon{
    margin-top: -20px;
    width: 23%;
}

.firstCaseTitle {
    margin-top: 0px;
    color: rgb(44, 44, 44);
}

.firstCaseData {
    color: rgb(56, 56, 56);
    font-size: 22px;
}

#resumeDeSeanceTitle {
    width: 100%;
    height: 40px;
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid rgb(155, 155, 155);
}

#resumeDeSeanceTitleName {
    margin-left: 5px;
}

.resumeDeSeanceTitle {
    margin: 0px;
    color: rgb(44, 44, 44);
    display: inline-block;
    font-size: 20px;
    padding-top: 4px;
}

.svg {
    position: absolute;
}

#elevationBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#elevationGraph {
    width: 70%;
}

#speedBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

#speedGraph {
    width: 70%;
}

#powerBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

#powerGraph {
    width: 70%;
}

.boxLegend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxLegendLeft {
    width: 15%;
}

.boxLegendRight {
    width: 15%;
}

.title {
    color: rgb(65, 65, 65);
    margin: 0px;
    margin-top: -15%;
}

.max {
    color: rgb(95, 95, 95);
    margin: 0px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2px;
}

.moy {
    color: rgb(95, 95, 95);
    margin: 0px;
    margin-left: 2px;
}

.instantData {
    color: rgb(95, 95, 95);
    margin: 0px;
    margin-left: 2px;
    margin-top: -7px;
    margin-bottom: 23px;
}

.graph:hover {
    cursor: crosshair;
}

.bar {
    stroke: #333;
    stroke-width: 1px;
    pointer-events: none;
    /* width: 1px;
    height: 107px;
    background-color: black;
    position: absolute;
    margin-top: -127px;
    margin-left: 21px; */
} 

@media only screen and (max-width: 600px) {
    .firstCase {
        height: 150px;
    }

    .firstCaseData {
        color: rgb(56, 56, 56);
        font-size: 14px;
    }

    .firstCaseTitle {
        font-size: 12px;
    }

    .instantData {
        font-size: 12px;
    }

    #mapid {
        height: 200px;
    }

    .max {
        font-size: 11px;
    }
    
    .moy {
        font-size: 11px;
    }
}

@media only screen and (min-width: 600px) {
    .firstCase {
        height: 175px;
    }

    .firstCaseData {
        color: rgb(56, 56, 56);
        font-size: 16px;
    }

    .firstCaseTitle {
        font-size: 13px;
    }

    .instantData {
        font-size: 13px;
    }

    #mapid {
        height: 225px;
    }

    .max {
        font-size: 12px;
    }
    
    .moy {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    .firstCase {
        height: 200px;
    }

    .firstCaseData {
        color: rgb(56, 56, 56);
        font-size: 18px;
    }

    .firstCaseTitle {
        font-size: 14px;
    }

    .instantData {
        font-size: 14px;
    }

    #mapid {
        height: 250px;
    }

    .max {
        font-size: 13px;
    }
    
    .moy {
        font-size: 13px;
    }
}

@media only screen and (min-width: 992px) {
    .firstCase {
        height: 225px;
    }

    .firstCaseData {
        color: rgb(56, 56, 56);
        font-size: 20px;
    }

    .firstCaseTitle {
        font-size: 16px;
    }

    .instantData {
        font-size: 16px;
    }

    #mapid {
        height: 275px;
    }

    .max {
        font-size: 14px;
    }
    
    .moy {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    .firstCase {
        height: 250px;
    }

    .firstCaseData {
        color: rgb(56, 56, 56);
        font-size: 22px;
    }

    .firstCaseTitle {
        font-size: 18px;
    }

    .instantData {
        font-size: 18px;
    }

    #mapid {
        height: 300px;
    }

    .max {
        font-size: 15px;
    }
    
    .moy {
        font-size: 15px;
    }
}