body {
    background-color: rgb(251, 251, 251); 
}

#stravaImg {
    width: 100%;
}

#stravaConnectBtnDiv {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stravaConnectBtn {
    color: rgb(189, 189, 189);
    border: 1px solid #555555;
    transition-duration: 0.4s;
    background-color: rgb(65, 65, 65);
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    text-align: center;
}

#stravaConnectBtn:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(42, 42, 42);
    box-shadow: 1px 1px 5px #000000;
}

@media only screen and (max-width: 300px) {
    #stravaConnectBtn {
        width: 42%;
        padding-top: 5px;
        font-size: 14px;
        height: 50px;
    }

    #stravaConnectBtnDiv {
        top: 70px;
    }
}

@media only screen and (min-width: 300px) {
    #stravaConnectBtn {
        width: 42%;
        padding-top: 5px;
        font-size: 15px;
        height: 50px;
    }

    #stravaConnectBtnDiv {
        top: 80px;
    }
}

@media only screen and (min-width: 450px) {
    #stravaConnectBtn {
        width: 42%;
        padding-top: 16px;
        font-size: 16px;
        height: 60px;
    }

    #stravaConnectBtnDiv {
        top: 100px;
    }
}

@media only screen and (min-width: 600px) {
    #stravaConnectBtn {
        width: 36%;
        padding-top: 15px;
        font-size: 17px;
        height: 60px;
    }

    #stravaConnectBtnDiv {
        top: 120px;
    }
}

@media only screen and (min-width: 768px) {
    #stravaConnectBtn {
        width: 30%;
        padding-top: 14px;
        font-size: 18px;
        height: 60px;
    }

    #stravaConnectBtnDiv {
        top: 170px;
    }
}

@media only screen and (min-width: 992px) {
    #stravaConnectBtn {
        width: 30%;
        padding-top: 13px;
        font-size: 19px;
        height: 60px;
    }

    #stravaConnectBtnDiv {
        top: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    #stravaConnectBtn {
        width: 30%;
        padding-top: 13px;
        font-size: 20px;
        height: 60px;
    }

    #stravaConnectBtnDiv {
        top: 250px;
    }
}