body {
    background-color: #4E4F4F;
    font-family: "Segoe UI";
    color: #E3E3E3;
    
}


#main {
    background-color: #6C6C6C;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;
    margin-left: 132px;
    height: auto;
    border-radius: 5px;
    font-family: "Segoe UI";
    color: #E3E3E3;
    
}
