.errorMessageList {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 38px;
}

.listHeader {
    margin-top: 20px;
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.prgHeader {
    width: 16.666%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(73, 73, 73);
    font-size: 16px;
}

@media only screen and (min-width: 280px) {.prgHeader {font-size: 7px;}}
@media only screen and (min-width: 400px) {.prgHeader {font-size: 8px;}}
@media only screen and (min-width: 500px) {.prgHeader {font-size: 10px;}}
@media only screen and (min-width: 600px) {.prgHeader {font-size: 12px;}}
@media only screen and (min-width: 700px) {.prgHeader {font-size: 14px;}}
@media only screen and (min-width: 800px) {.prgHeader {font-size: 16px;}}

.programme {
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(202, 202, 202);
    transition: 0.15s;
    text-decoration: none;
}

.programme:hover {
    background-color: rgba(0, 0, 0, 0.076);
}

.prgProgramme {
    width: 16.666%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(73, 73, 73);
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (min-width: 280px) {.prgProgramme {font-size: 7px;}}
@media only screen and (min-width: 400px) {.prgProgramme {font-size: 8px;}}
@media only screen and (min-width: 500px) {.prgProgramme {font-size: 10px;}}
@media only screen and (min-width: 600px) {.prgProgramme {font-size: 12px;}}
@media only screen and (min-width: 700px) {.prgProgramme {font-size: 14px;}}
@media only screen and (min-width: 800px) {.prgProgramme {font-size: 16px;}}