.newPrgA {
    text-decoration: none;
}

.newPrgCase {
    width: 340px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 216, 216);
    transition: 0.2s;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
@media only screen and (min-width: 280px) {
    .newPrgCase {
        width: 240px;
        height: 260px;
    }
}
@media only screen and (min-width: 400px) {
    .newPrgCase {
        width: 340px;
        height: 400px;
    }
}

.newPrgCase:hover {
    margin-left: 0px;
    margin-right: 0px;
    width: 360px;
}
@media only screen and (min-width: 280px) {.newPrgCase:hover {width: 260px;}}
@media only screen and (min-width: 400px) {.newPrgCase:hover {width: 360px;}}

.newPrgCaseHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.newPrgCaseT {
    margin: 0px;
    margin-top: 10px;
    font-size: 25px;
    color: rgb(58, 58, 58);
    font-variant: small-caps;
    font-weight: lighter;
    letter-spacing: 1.4px;
}
@media only screen and (min-width: 280px) {
    .newPrgCaseT {
        font-size: 18px;
        letter-spacing: 1.2px;
        margin-top: 2px;
    }
}
@media only screen and (min-width: 400px) {
    .newPrgCaseT {
        font-size: 25px;
        letter-spacing: 1.4px;
        margin-top: 10px;
    }
}

.newPrgCaseCitation {
    margin: 0px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(120, 120, 120);
    font-weight: lighter;
    letter-spacing: 1.4px;
}
@media only screen and (min-width: 280px) {
    .newPrgCaseCitation {
        font-size: 10px;
        letter-spacing: 1.2px;
        margin-top: 2px;
    }
}
@media only screen and (min-width: 400px) {
    .newPrgCaseCitation {
        font-size: 15px;
        letter-spacing: 1.4px;
        margin-top: 10px;
    }
}

.newPrgCaseDescription {
    display: flex;
    justify-content: center;
    height: 70px;
    margin-top: 20px;
}
@media only screen and (min-width: 280px) {
    .newPrgCaseDescription {
        height: 40px;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 400px) {
    .newPrgCaseDescription {
        height: 70px;
        margin-top: 20px;
    }
}

.newPrgCaseDescriptionT {
    width: 300px;
    text-align: center;
    font-size: 16px;
    color: rgb(94, 94, 94);
    letter-spacing: 1.2px;
    word-wrap: break-word;
    margin: 0px;
}
@media only screen and (min-width: 280px) {
    .newPrgCaseDescriptionT {
        width: 200px;
        font-size: 10px;
    }
}
@media only screen and (min-width: 400px) {
    .newPrgCaseDescriptionT {
        width: 300px;
        font-size: 16px;
    }
}

.newPrgCaseInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.newPrgCaseInfoCaseContenair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
@media only screen and (min-width: 280px) {.newPrgCaseInfoCaseContenair {margin-bottom: 10px;}}
@media only screen and (min-width: 400px) {.newPrgCaseInfoCaseContenair {margin-bottom: 20px;}}

.newPrgCaseInfoCase {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.newPrgCaseInfoCaseT {
    margin: 0px;
    text-align: center;
    font-size: 13px;
    color: rgb(48, 48, 48);
    padding: 5px 10px;
}
@media only screen and (min-width: 280px) {
    .newPrgCaseInfoCaseT {
        font-size: 10px;
        padding: 3px 5px;
    }
}
@media only screen and (min-width: 400px) {
    .newPrgCaseInfoCaseT {
        font-size: 13px;
        padding: 5px 10px;
    }
}

.newPrgCasePrice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newPrgCasePriceT {
    font-size: 24px;
    font-weight: lighter;
    color: rgb(0, 234, 170);
    margin: 0px 5px;
}
@media only screen and (min-width: 280px) {.newPrgCasePriceT {font-size: 17px;}}
@media only screen and (min-width: 400px) {.newPrgCasePriceT {font-size: 24px;}}

.newPrgCasePriceTBarré {
    font-size: 20px;
    font-weight: normal;
    color: rgb(31, 31, 31);
    margin: 0px 5px;
}
@media only screen and (min-width: 280px) {.newPrgCasePriceTBarré {font-size: 14px;}}
@media only screen and (min-width: 400px) {.newPrgCasePriceTBarré {font-size: 20px;}}

.newPrgCaseRequis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newPrgCaseRequisT {
    width: 300px;
    color: rgb(107, 107, 107);
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
}
@media only screen and (min-width: 280px) {
    .newPrgCaseRequisT {
        width: 200px;
        font-size: 10px;
    }
}
@media only screen and (min-width: 400px) {
    .newPrgCaseRequisT {
        width: 300px;
        font-size: 14px;
    }
}