#segmentEffort {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#segmentList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#SegmentTableHeader {
    width: 100%;
    height: 50px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    color: rgb(53, 53, 53);
}

.segmentKOM {
    width: 7%;
    text-align: center;
}

.segmentInfo {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.segmentT {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
}
.segmentInfo2ND {
    color: rgb(156, 156, 156);
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.segmentDst {
    margin-right: 4%;
}

.segmentD4 {
    margin-right: 4%;
}

.segmentGrade {
    margin-right: 4%;
}

.segmentTps {
    width: 12%;
}

.segmentVst {
    width: 12%;
}

.segmentP {
    width: 12%;
}

.segmentFC {
    width: 12%;
}

.segmentCadence {
    width: 12%;
}

#segmentEffortContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(53, 53, 53);
}

.segment {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: rgb(53, 53, 53);
    border-bottom: 1px solid rgb(226, 226, 226);
    font-size: 14px;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s;
}

.segmentStats {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}

.segmentAnalyse {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: 200px;
    border-top: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: row;
}

.segmentAnalyseElevationContenair {
    width: 50%;
    height: 190px;
    margin-top: 10px;
    margin-left: -18px;
}

.segmentAnalyseStats {
    width: 26%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.segmentAnalyseStatsTContenair {
    width: 66%;
    margin-top: 30px;
    margin-left: 33%;
    display: flex;
    flex-direction: row;
}

.segmentAnalyseStatsT {
    width: 50%;
    text-align: center;
}

.segmentAnalyseStatsContenair {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.segmentAnalyseStatsContenairRow {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.segmentAnalyseStatsTitle {
    text-align: end;
    margin-right: 10%;
}

.segmentAnalyseStatsData {
    text-align: center;
}

.segmentAnalyseButtonContenair {
    width: 24%;
    height: auto;
    margin-left: 0%;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
}

.segmentAnalyseButton {
    width: 96%;
    height: 35px;
    margin-left: 4%;
    margin-right: 0%;
    margin-bottom: 14px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s;
}

.segmentAnalyseButton:hover {
    background-color: rgb(30, 138, 234);
    border-color: rgb(30, 138, 234);
}

.segmentAnalyseButtonT {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: rgb(80, 80, 80);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segmentAnalyseButtonT:hover {
    color: rgb(246, 246, 246);
    transition: 0.3s;
}


.intervalKOM {
    width: 7%;
    text-align: center;
}

.PR {
    width: 48px;
    height: 48px;
    padding: 1px;
    transition: 0.2s;
}

.PR:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}

.PRIntervalList {
    width: 50%;
    height: 400px;
    background-color: rgb(251, 251, 251);
    position: fixed;
    z-index: 10;
    top: 100px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.589);
}

.listClose {
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: rgb(97, 97, 97);
    background-color: rgb(251, 251, 251);
    position: absolute;
    right: -50px;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
}

.listClose:hover {
    color: rgb(30, 138, 234);
}

.listContenair {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.border {
    width: 0px;
    height: 160px;
    border-right: 1px solid rgb(170, 170, 170);
    margin-left: -1px;
    margin-top: 20px;
    margin-top: 20px;
}

.PRBox {
    width: 50%;
    height: 200px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vitessePR {
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.puissancePR {
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.FCPR {
    border-bottom-left-radius: 10px;
}

.cadencePR {
    border-bottom-right-radius: 10px;
}

.PRTitle {
    color: rgb(82, 82, 82);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;
    margin-top: 15px;
}

.PRMedaille {
    width: 100px;
    height: 100px;
}

.PRValue {
    color: rgb(51, 51, 51);
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

.filter {
    width: 100%;
    height: 300%;
    background-color: rgba(0, 0, 0, 0.328);
    position: fixed;
    z-index: 9;
}

.intervalT {
    width: 33%;
    text-align: start;
}

.intervalTps {
    width: 12%;
    text-align: start;
}

.intervalVst {
    width: 12%;
    text-align: start;
}

.intervalP {
    width: 12%;
    text-align: start;
}

.intervalFC {
    width: 12%;
    text-align: start;
}

.intervalCadence {
    width: 12%;
    text-align: start;
}

