#weekHeader {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    border-bottom: 1px solid rgb(209, 209, 209);
    display: flex;
}

#weekEtape {
    margin: 0px;
    margin-left: 36%;
    font-size: 18px;
    font-weight: lighter;
    color: rgb(87, 87, 87);
    text-align: center;
}
@media only screen and (min-width: 280px) {#weekEtape {font-size: 14px;}}
@media only screen and (min-width: 400px) {#weekEtape {font-size: 15px;}}
@media only screen and (min-width: 500px) {#weekEtape {font-size: 16px;}}
@media only screen and (min-width: 600px) {#weekEtape {font-size: 17px;}}
@media only screen and (min-width: 700px) {#weekEtape {font-size: 18px;}}

#week {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.day {
    width: 90%;
    height: 45px;
    border-bottom: 1px solid rgb(209, 209, 209);
    display: flex;
}

#dimanche {
    border: none;
}

.dayTitle {
    width: 10%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dayT {
    color: rgb(70, 70, 70);
    font-size: 16px;
    font-weight: lighter;
}
@media only screen and (min-width: 280px) {.seanceT {font-size: 12px;}}
@media only screen and (min-width: 400px) {.seanceT {font-size: 13px;}}
@media only screen and (min-width: 500px) {.seanceT {font-size: 14px;}}
@media only screen and (min-width: 600px) {.seanceT {font-size: 15px;}}
@media only screen and (min-width: 700px) {.seanceT {font-size: 16px;}}

.seanceTitle {
    width: 58%;
    margin-left: 5%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.seanceT {
    color: rgb(70, 70, 70);
    font-size: 17px;
    font-weight: 400;
}
@media only screen and (min-width: 280px) {.seanceT {font-size: 13px;}}
@media only screen and (min-width: 400px) {.seanceT {font-size: 14px;}}
@media only screen and (min-width: 500px) {.seanceT {font-size: 15px;}}
@media only screen and (min-width: 600px) {.seanceT {font-size: 16px;}}
@media only screen and (min-width: 700px) {.seanceT {font-size: 17px;}}

.plusTitle {
    width: 20%;
    margin-left: 5%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.plusT {
    color: rgb(120, 20, 179);
    text-decoration: underline rgb(120, 20, 179);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
@media only screen and (min-width: 280px) {.plusT {font-size: 12px;}}
@media only screen and (min-width: 400px) {.plusT {font-size: 13px;}}
@media only screen and (min-width: 500px) {.plusT {font-size: 14px;}}
@media only screen and (min-width: 600px) {.plusT {font-size: 15px;}}
@media only screen and (min-width: 700px) {.plusT {font-size: 16px;}}