body {
    background-color: rgb(242, 242, 242);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prgT {
    color: rgb(102, 102, 102);
    font-size: 24px;
    font-weight: lighter;
    letter-spacing: 2.6px;
    margin: 0px;
    margin-top: 20px;
}

#prgCase {
    width: 96%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.prgCase {
    width: 340px;
    height: 400px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
}
@media only screen and (min-width: 280px) {.prgCase {width: 90%;}}
@media only screen and (min-width: 400px) {.prgCase {width: 340px;}}

.prgCase2 {
    width: 700px;
    height: 400px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
}

@media only screen and (min-width: 280px) {.prgCase2 {
    width: 90%;
    height: 225px;
}}
@media only screen and (min-width: 340px) {.prgCase2 {
    width: 90%;
    height: 240px;
}}
@media only screen and (min-width: 400px) {.prgCase2 {
    width: 90%;
    height: 270px;
}}
@media only screen and (min-width: 500px) {.prgCase2 {
    width: 90%;
    height: 315px;
}}
@media only screen and (min-width: 600px) {.prgCase2 {
    width: 90%;
    height: 355px;
}}
@media only screen and (min-width: 700px) {.prgCase2 {
    width: 90%;
    height: 380px;
}}
@media only screen and (min-width: 750px) {.prgCase2 {
    width: 700px;
    height: 400px;
}}

.prgCaseHeader {
    width: 100%;
    display: flex;
}

.prgCaseT {
    width: 50%;
    margin: 0px;
    margin-left: 15px;
    margin-top: 6px;
    color: rgb(85, 85, 85);
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 17px;
}

.rightIcon {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}