body {
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    width: 700px;
    min-height: 1000px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0px 0px 10px rgb(163, 163, 163);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#switch {
    width: 400px;
    height: 30px;
    margin-top: 20px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.switch {
    z-index: 5;
    width: 200px;
    height: 30px;
    margin-left: 0px;
    margin-right: 0px;
    outline: none;
    border: none;
    background: none;
    transition: 0.3s;
}

#listObj {
    color: rgb(255, 255, 255);
}

#addObj {
    color: rgb(41, 41, 41);
}

#switchState {
    z-index: 4;
    width: 200px;
    height: 30px;
    background-color: rgba(0, 137, 234, 1);
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -30px;
    margin-left: -200px;
    transition: 0.3s;
}

#list {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
}

#listHeader {
    width: 100%;
    height: 35px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listHeaderTContenair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.listHeaderT {
    color: rgb(51, 51, 51);
}

#add {
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
}

#addHeader {
    width: 100%;
    height: 25px;
    background-color: rgb(221, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addHeaderT {
    color: rgb(51, 51, 51);
}

.selectContenair {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 7px;
    color: #555555;
    cursor: pointer;
    outline: none;
    appearance: none;
    border: none;
    background: #F9F9F9;
    background-image: none;
    font-size: 16px;
}
  
.select {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    outline: none;
    width: 220px;
    height: 35px;
}

.selectType {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid #CED4DA;
    outline: none;
    width: 80px;
    height: 35px;
}
  
.select::after {
    content: '\276F';
    position: absolute;
    right: 10px;
    background: white;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 1.4em;
    background: #F9F9F9;
}
  
.select:hover::after {
    color: rgb(71, 71, 71);
}

.selectType::after {
    content: '\276F';
    position: absolute;
    right: 10px;
    background: white;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 1.4em;
    background: #F9F9F9;
}

.selectType:hover::after {
    color: rgb(71, 71, 71);
}

.inputNumber {
    width: 140px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    outline: none;
    height: 35px;
    font-size: 17px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: none;
}

#showDateInput {
    width: 220px;
    height: 35px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

#showDateInput:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#showDateInputT {
    color: rgb(65, 65, 65);
    text-align: center;
    font-size: 16px;
}

#DateInputBox {
    width: 180px;
    height: 35px;
    transition: 0.2s;
}

#DateInput {
    width: 180px;
    height: 35px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
    font-family: "Segoe UI";
}

#dateCloseBox {
    width: 40px;
    height: 35px;
    border: 1px solid #CED4DA;
    border-left: none;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transition: 0.2s;
}

#dateCloseBox:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#dateClose {
    margin-top: 6.5px;
    margin-bottom: 6.5px;
    margin-left: 8.5px;
    margin-right: 9.5px;
    width: 22px;
    height: 22px;
}

#addValidation {
    width: 200px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 137, 234, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    border: 1px solid rgb(206, 212, 218);
}

#addValidation:hover {
    background-color: rgba(0, 137, 234, 1);
}

#addValidation:hover > #addValidationT {
    color: rgb(231, 231, 231);
}

#addValidationT {
    color: rgb(65, 65, 65);
    text-align: center;
    font-size: 16px;
}