#list {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
}

#listHeader {
    width: 100%;
    height: 35px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listHeaderTContenair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.listHeaderT {
    color: rgb(51, 51, 51);
}

.alertMessage {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertMessageTitle {
    color: rgb(51, 51, 51);
    font-size: 17px;
    text-align: center;
}

.objectif {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.objectifCase {
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.objectifCaseTitle {
    color: rgb(77, 77, 77);
    font-size: 16px;
    text-align: center;
}