#PROGRAMMES_BOX {
    width: 680px;
    height: 340px;
}

@media only screen and (min-width: 280px) {#PROGRAMMES_BOX {height: 132.2px}}
@media only screen and (min-width: 320px) {#PROGRAMMES_BOX {height: 151.1px}}
@media only screen and (min-width: 360px) {#PROGRAMMES_BOX {height: 170px}}
@media only screen and (min-width: 400px) {#PROGRAMMES_BOX {height: 188.9px}}
@media only screen and (min-width: 440px) {#PROGRAMMES_BOX {height: 207.8px}}
@media only screen and (min-width: 480px) {#PROGRAMMES_BOX {height: 226.6px}}
@media only screen and (min-width: 520px) {#PROGRAMMES_BOX {height: 245.5px}}
@media only screen and (min-width: 560px) {#PROGRAMMES_BOX {height: 264.4px}}
@media only screen and (min-width: 600px) {#PROGRAMMES_BOX {height: 283.3px}}
@media only screen and (min-width: 640px) {#PROGRAMMES_BOX {height: 302.2px}}
@media only screen and (min-width: 680px) {#PROGRAMMES_BOX {height: 321.1px}}
@media only screen and (min-width: 720px) {#PROGRAMMES_BOX {height: 340px}}

.PROGRAMMES_BOX1 {
    background-color: rgb(255, 255, 255);

}

#programmeT {
    width: 100%;
    height: 50px;
    margin: 0px;
    font-size: 22px;
    font-weight: lighter;
    font-variant-caps: petite-caps;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    border-bottom: 1px solid rgb(170, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}

#programmeActif {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#programmeActifT {
    text-align: center;
    margin: 0px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: lighter;
    font-variant-caps: all-small-caps;
    color: rgb(65, 65, 65);
}

#programmeActifBtn {
    width: 220px;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.15s;
    cursor: pointer;
}

#programmeActifBtn:hover {
    color: rgb(0, 234, 170);
}

#programmeListBox {
    width: 100%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#programmeList {
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.programmeListContent {
    width: 100%;
    height: 30px;
    margin: 0px;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.15s;
}

.programmeListContentT {
    width: 100%;
    font-size: 22px;
    margin: 0px;
    font-weight: lighter;
    font-variant-caps: petite-caps;
    color: rgb(58, 58, 58);
    text-align: center;
}

.programmeListContentDate {
    width: 100%;
    font-size: 18px;
    margin: 0px;
    margin-top: 4px;
    font-weight: lighter;
    font-variant-caps: petite-caps;
    color: rgb(58, 58, 58);
    text-align: center;
}

.programmeListContent:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.PROGRAMMES_BOX2 {
    background-image: url("../img/ganna-giro.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#suggestionPRGT {
    width: 90%;
    height: 60px;
    margin: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
}

@media only screen and (min-width: 280px) {#suggestionPRGT {font-size: 12px}}
@media only screen and (min-width: 320px) {#suggestionPRGT {font-size: 13px}}
@media only screen and (min-width: 360px) {#suggestionPRGT {font-size: 14px}}
@media only screen and (min-width: 400px) {#suggestionPRGT {font-size: 15px}}
@media only screen and (min-width: 440px) {#suggestionPRGT {font-size: 16px}}
@media only screen and (min-width: 480px) {#suggestionPRGT {font-size: 18px}}
@media only screen and (min-width: 520px) {#suggestionPRGT {font-size: 20px}}
@media only screen and (min-width: 560px) {#suggestionPRGT {font-size: 22px}}

#suggestionPRGBtn {
    width: 40%;
    height: 50px;
    margin-top: 180px;
    margin-left: 10%;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.15s;
    cursor: pointer;
}

#suggestionPRGBtn:hover {
    color: rgb(0, 234, 170);
}

@media only screen and (min-width: 280px) {#suggestionPRGBtn {
    font-size: 10px;
    margin-top: 10px;
}}

@media only screen and (min-width: 320px) {#suggestionPRGBtn {
    font-size: 11px;
    margin-top: 20px;
}}

@media only screen and (min-width: 360px) {#suggestionPRGBtn {
    font-size: 12px;
    margin-top: 30px;
}}

@media only screen and (min-width: 400px) {#suggestionPRGBtn {
    font-size: 12px;
    margin-top: 50px;
}}

@media only screen and (min-width: 440px) {#suggestionPRGBtn {
    font-size: 13px;
    margin-top: 70px;
}}

@media only screen and (min-width: 480px) {#suggestionPRGBtn {
    font-size: 13px;
    margin-top: 90px;
}}

@media only screen and (min-width: 520px) {#suggestionPRGBtn {
    font-size: 14px;
    margin-top: 110px;
}}

@media only screen and (min-width: 560px) {#suggestionPRGBtn {
    font-size: 14px;
    margin-top: 130px;
}}

@media only screen and (min-width: 600px) {#suggestionPRGBtn {
    font-size: 14px;
    margin-top: 145px;
}}

@media only screen and (min-width: 640px) {#suggestionPRGBtn {
    font-size: 14px;
    margin-top: 160px;
}}

@media only screen and (min-width: 680px) {#suggestionPRGBtn {
    font-size: 14px;
    margin-top: 170px;
}}

@media only screen and (min-width: 720px) {#suggestionPRGBtn {
    font-size: 14px;
    margin-top: 180px;
}}