#back {
    border: 2px solid #E3E3E3;
    border-radius: 10px;
    background-color: #2E2E2E;
    font-family: "Segoe UI";
    font-size: 20px;
    color: #E3E3E3;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    padding: 5px;

}

#back:hover {
    cursor: pointer;
}