body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    width: 80%;
    min-height: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(163, 163, 163);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 280px) {#main {width: 100%;}}
@media only screen and (min-width: 400px) {#main {width: 100%;}}
@media only screen and (min-width: 500px) {#main {width: 95%;}}
@media only screen and (min-width: 600px) {#main {width: 90%;}}
@media only screen and (min-width: 700px) {#main {width: 85%;}}
@media only screen and (min-width: 800px) {#main {width: 80%;}}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageT {
    margin: 0px;
    margin-top: 20px;
    font-size: 34px;
    color: rgb(19, 19, 19);
    font-weight: lighter;
    letter-spacing: 1.4px;
}

@media only screen and (min-width: 280px) {.pageT {font-size: 30px;}}
@media only screen and (min-width: 400px) {.pageT {font-size: 31px;}}
@media only screen and (min-width: 500px) {.pageT {font-size: 32px;}}
@media only screen and (min-width: 600px) {.pageT {font-size: 33px;}}
@media only screen and (min-width: 700px) {.pageT {font-size: 33px;}}
@media only screen and (min-width: 800px) {.pageT {font-size: 34px;}}

.pageInstruction {
    margin: 0px;
    margin-top: 30px;
    font-size: 24px;
    color: rgb(19, 19, 19);
}

@media only screen and (min-width: 280px) {.pageInstruction {font-size: 20px;}}
@media only screen and (min-width: 400px) {.pageInstruction {font-size: 21px;}}
@media only screen and (min-width: 500px) {.pageInstruction {font-size: 22px;}}
@media only screen and (min-width: 600px) {.pageInstruction {font-size: 23px;}}
@media only screen and (min-width: 700px) {.pageInstruction {font-size: 23px;}}
@media only screen and (min-width: 800px) {.pageInstruction {font-size: 24px;}}

.pageInstructionP {
    margin: 0px;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: rgb(100, 100, 100);
}

@media only screen and (min-width: 280px) {.pageInstructionP {font-size: 13px;}}
@media only screen and (min-width: 400px) {.pageInstructionP {font-size: 13px;}}
@media only screen and (min-width: 500px) {.pageInstructionP {font-size: 14px;}}
@media only screen and (min-width: 600px) {.pageInstructionP {font-size: 14px;}}
@media only screen and (min-width: 700px) {.pageInstructionP {font-size: 15px;}}
@media only screen and (min-width: 800px) {.pageInstructionP {font-size: 16px;}}

.pageInput {
    margin-top: 20px;
}

.pageInputCheck {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

@media only screen and (min-width: 280px) {.pageInstructionP {font-size: 13px;}}
@media only screen and (min-width: 400px) {.pageInstructionP {font-size: 13px;}}
@media only screen and (min-width: 500px) {.pageInstructionP {font-size: 14px;}}
@media only screen and (min-width: 600px) {.pageInstructionP {font-size: 14px;}}
@media only screen and (min-width: 700px) {.pageInstructionP {font-size: 15px;}}
@media only screen and (min-width: 800px) {.pageInstructionP {font-size: 16px;}}

.pageInputCheckContenair {
    width: 16px;
    height: 16px;
}

.pageInputCheckBox {
    margin: 0px;
    width: 16px;
    height: 16px;
}

@media only screen and (min-width: 280px) {.pageInputCheckBox {
    width: 13px;
    height: 13px;
}}
@media only screen and (min-width: 400px) {.pageInputCheckBox {
    width: 14px;
    height: 14px;
}}
@media only screen and (min-width: 500px) {.pageInputCheckBox {
    width: 14px;
    height: 14px;
}}
@media only screen and (min-width: 600px) {.pageInputCheckBox {
    width: 15px;
    height: 15px;
}}
@media only screen and (min-width: 700px) {.pageInputCheckBox {
    width: 15px;
    height: 15px;
}}
@media only screen and (min-width: 800px) {.pageInputCheckBox {
    width: 16px;
    height: 16px;
}}

.pageInputCheckT {
    color: black;
    font-size: 16px;
    margin-left: 10px;
}

.pageSubmit {
    margin-top: 20px;      
}

.pageSubmitInput {
    padding: 10px 20px;
    background-color: rgba(0, 234, 170, 0.761);
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.pageSubmitInput:hover {
    color: rgb(0, 234, 172);
    background-color: rgb(244, 244, 244);
}

.selectDateBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 15px;
}

.select {
    width: 130px;
    height: 30px;
    background-color: rgb(235, 235, 235);
    border: none;
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7;
    border-radius: 3px;
    margin: 5px 15px;
    outline: none;
    padding-left: 10px;
}

.finale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.finaleT {
    margin: 0px;
    color: rgb(70, 70, 70);
    font-size: 16px;
}

@media only screen and (min-width: 280px) {.finaleT {font-size: 13px;}}
@media only screen and (min-width: 400px) {.finaleT {font-size: 13px;}}
@media only screen and (min-width: 500px) {.finaleT {font-size: 14px;}}
@media only screen and (min-width: 600px) {.finaleT {font-size: 14px;}}
@media only screen and (min-width: 700px) {.finaleT {font-size: 15px;}}
@media only screen and (min-width: 800px) {.finaleT {font-size: 16px;}}

.finaleValue {
    max-width: 95%;
    margin: 0px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
}

@media only screen and (min-width: 280px) {.finaleValue {font-size: 13px;}}
@media only screen and (min-width: 400px) {.finaleValue {font-size: 14px;}}
@media only screen and (min-width: 500px) {.finaleValue {font-size: 15px;}}
@media only screen and (min-width: 600px) {.finaleValue {font-size: 16px;}}
@media only screen and (min-width: 700px) {.finaleValue {font-size: 17px;}}
@media only screen and (min-width: 800px) {.finaleValue {font-size: 18px;}}

.prgNomInput {
    width: 200px;
    height: 34px;
    margin: 0px;
    margin-top: 15px;
    outline: none;
    border: 1px solid rgb(170, 170, 170);
    color: rgb(94, 94, 94);
    border-radius: 5px;
    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.042);
    transition: 0.3s;
}

.prgNomInput:focus {
    border: 1px solid rgb(0, 234, 170);
}

.pageInputCheckSortieClub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.pageInputCheckSortieClubHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

.pageInputSortieClub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectSortieClub {
    margin-top: 5px;
    margin-bottom: 5px;
}