body {
    background-color:rgb(251, 251, 251); 
}

#AthleteSettings {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#row1 {
    background-color: rgb(248, 248, 248);
}

#row2 {
    border-top: 1px solid rgb(170, 170, 170);
    background-color: rgb(243, 243, 243);
}

.settingInputDiv {
    width: 33.333%;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingInputDivCenter {
    border-left: 1px solid rgb(170, 170, 170);
    border-right: 1px solid rgb(170, 170, 170);
}

.settingInput {
    background-color: rgba(65, 65, 65, 0);
    margin-top: -5px;
    border-style: none;
    border-bottom: rgb(143, 143, 143) 1px solid;
    outline: none;
    transition: 0.4s;
    width: 40%;
    color: rgb(32, 32, 32);
}

.settingInput:focus{
    border-bottom: rgb(32, 32, 32) 1px solid;;
}

.settingInputTitle {
    color: rgb(93, 93, 93);
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 1px;
    white-space: wrap;
    font-variant: small-caps;
}

.settingInputP {
    color: rgb(66, 66, 66);
    text-align: center;
}

.help {
    background-color: rgb(124, 124, 124);
    border-radius: 100px;
    color: white;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.settingInputLink {
    position: relative;
    margin-left: 70%;
}

#sauvegarderDiv {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sauvegarder {
    background-color: rgb(251, 251, 251);
    color: rgb(93, 93, 93);
    border: none;
    border: 2px solid rgb(93, 93, 93);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#sauvegarder:hover {
    background-color: rgb(93, 93, 93);
    color: rgb(251, 251, 251);
}

@media only screen and (max-width: 300px) {
    #sauvegarder {
        font-size: 12px;
    }

    .settingInputTitle {
        font-size: 16px;
    }
    .settingInputP {
        font-size: 12px;
        margin-top: -12px;
    }

    .help {
        font-size: 14px;
        width: 20px;
        height: 20px;
    }

    .settingInputLink {
        margin-top: -70%;
    }

    .settingInput {
        font-size: 12px;
    }
}

@media only screen and (min-width: 300px) {
    #sauvegarder {
        font-size: 12px;
    }

    .settingInputTitle {
        font-size: 20px;
    }
    .settingInputP {
        font-size: 13px;
        margin-top: -15px;
    }

    .help {
        font-size: 15px;
        width: 22px;
        height: 22px;
    }

    .settingInputLink {
        margin-top: -49%;
    }

    .settingInput {
        font-size: 13px;
    }
}

@media only screen and (min-width: 450px) {
    #sauvegarder {
        font-size: 12px;
    }

    .settingInputTitle {
        font-size: 24px;
    }
    .settingInputP {
        font-size: 14px;
        margin-top: -18px;
    }

    .help {
        font-size: 16px;
        width: 23px;
        height: 23px;
    }

    .settingInputLink {
        margin-top: -39%;
    }

    .settingInput {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    #sauvegarder {
        font-size: 12px;
    }

    .settingInputTitle {
        font-size: 28px;
    }
    .settingInputP {
        font-size: 15px;
        margin-top: -22px;
    }

    .help {
        font-size: 18px;
        width: 25px;
        height: 25px;
    }

    .settingInputLink {
        margin-top: -32%;
    }

    .settingInput {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    #sauvegarder {
        font-size: 16px;
    }

    .settingInputTitle {
        font-size: 32px;
    }
    .settingInputP {
        font-size: 16px;
        margin-top: -25px;
    }

    .help {
        font-size: 20px;
        width: 32px;
        height: 32px;
    }

    .settingInputLink {
        margin-top: -28%;
    }

    .settingInput {
        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    #sauvegarder {
        font-size: 19px;
    }

    .settingInputTitle {
        font-size: 36px;
    }
    .settingInputP {
        font-size: 17.5px;
        margin-top: -25px;
    }

    .help {
        font-size: 20px;
        width: 32px;
        height: 32px;
    }

    .settingInputLink {
        margin-top: -26%;
    }

    .settingInput {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1200px) {
    #sauvegarder {
        font-size: 22px;
    }

    .settingInputTitle {
        font-size: 40px;
    }
    .settingInputP {
        font-size: 17.5px;
        margin-top: -25px;
    }

    .help {
        font-size: 20px;
        width: 32px;
        height: 32px;
    }

    .settingInputLink {
        margin-top: -23%;
    }

    .settingInput {
        font-size: 18px;
    }
}